extends ../layout

block content
  .container
    .header-flex
      div
        h1= titulo
        p Seguimiento de novedades administrativas y legales.
      a.btn-nuevo(href="/api/novedades/form") + Nueva Novedad

    table.empresas-table
      thead
        tr
          th ID
          th Tipo
          th Empleado
          th Fecha
          th Estado
          th Acciones
      tbody
        each nov in novedades
          tr
            td= nov.id
            td= nov.tipo
            td= nov.empleadoId
            td= nov.fecha
            td
              span(class=`badge-${nov.estado === 'Procesada' ? 'activo' : 'inactivo'}`)= nov.estado || 'Pendiente'
            td
              a.btn-accion(href=`/api/novedades/${nov.id}`) Detalle
              a.btn-accion(href=`/api/novedades/form/${nov.id}`) Editar
